@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

$Black: #000;  
$Blue: #009BDB;
$GreenButton: #00C000;
$Red: #DD2828;
$PurpleButton: #CE38CE;
$Yellow: #FFEDD1;
$YellowButton:#FFA200;
$White: #fff;